    <footer> <!-- Footer -->
      <div class="container pad">
        <div class="row-fluid">
          <div class="span12">
            <h1>Footer</h1>
          </div>
        </div>
      </div>
    </footer> <!-- End Footer -->
